#app-mount ._5e434347c823b592-guilds {
	background-color: transparent;
	.footer__214dc {
		background-color: rgb(0, 0, 0, var(--serverlist-brightness));
	}
	.ef3116c2da186559-tree {
		background-color: rgb(0, 0, 0, var(--serverlist-brightness));
		&::-webkit-scrollbar {
			display: none;
		}
	}
}
