#app-mount .ac6cb02cd15b4b3b-quickswitcher {
	box-shadow: none;
	padding: 20px;
	.scrollerOuter-3FLELE {
		margin-top: 10px;
		margin-right: 0;
		border-radius: 3px;
	}
	.ac6cb02cd15b4b3b-scroller {
		padding: 10px 5px 10px 10px;
		box-sizing: border-box;
		& > div[style*='width: 100%;'] {
			display: none;
		}
	}
	.ac6cb02cd15b4b3b-protip {
		display: none;
	}
}
